body
{
	font-family:arial;
	line-height:1.5;
	width:100%;
}
.clear{
    clear:both;
}
.fs-container
{
	width:100%;
}
body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%;
max-height: 100%;
background: #373943;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}
.mainpge{

    height: 100%;
}
.fp-sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 280px;
	height: 100%;
	overflow: hidden;
	background: #2a2d35;
	box-sizing:border-box;
	border-right:1px solid #24262d;
	z-index:1;
}
.fp-hub-container{
	position:relative;
	width:100%;
	height:100%;
}
.fp-nav-tabs
{
	width: 100%;
    position: relative;
    border-bottom:1px solid #24262d;
	border-top:1px solid #24262d;
    background: #24262d;
	text-align:center;
}
.fp-nav-tabs > li
{
	width:50%;
	border-right:1px solid #1e2025;
}
.fp-nav-tabs > li:last-child
{
	border:0;
}

.fp-nav-tabs > li >  a
{
	margin:0;
	border-radius:0;
	color:#b2b2b2;
	font-size: 20px;
	background-color:#24262d;
	transition: all 0.3s ease;
	padding: 6px 12px;
	cursor:pointer;
}
.fp-nav-tabs > li.active >  a, .fp-nav-tabs > li.active >  a:hover
{
	background:#009add;
	color:#fff;
	border:1px solid transparent;
}
.fp-nav-tabs > li > a:hover
{
	background:#009add;
	color:#fff;
	border:1px solid transparent;
}

.fp-tab-content
{
	height: calc(100% - 105px);
    overflow: auto;
    position: relative;
    display: block;
    width: 100%;
}
.fp-menu-header {
    color: #fff;
    display: block;
    padding: 10px;
    position: relative;

}
.fp-menu-header .fp-menu-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    color: #b2b2b2;
    font-weight: bold;
}
.btn-add
{
    color: #b2b2b2;
    background-color:#24262d;
    border-color: #5e616f;
	border-radius:2px !important;
	padding:5px 10px;
	font-size:12px;
}
.fp-menu-header > .fp-title-add {
    position: absolute;
    right: 10px;
    top: 5px;
}

/*ajlsjdkfasdf*/

.fp-menu
{
	list-style: none;
    margin: 0;
    padding: 0;
}
.fp-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
	width:100%;
	border-bottom:1px solid #24262d;
	background-color:#2a2d35;
	transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
}
.fp-menu > li:first-child{
	border-top:1px solid #24262d;
}
.fp-menu > li:hover{
	background-color:#24262d;
}
.fp-menu > li >a {
    padding: 6px 5px;
    display: block;
    width: auto;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
}
.menu-icon {
    float: left;
    margin-right: 10px;
	vertical-align:middle;
}
.fp-menu > li >.menu-tools {
    position: absolute;
    right: 5px;
    top: 5px;
}
.btn-menu-tool {
    padding: 3px;
    font-size: 16px;
    background: transparent;
    color: #bcbcbc;
}
.btn-menu-tool:hover, .btn-menu-tool:focus
{
	color:#009add;
	outline:0 !important;
	box-shadow:none !important;
}


.fp-mainbar{
position: fixed;
top: 0;
left: 280px; /*Set left value to WidthOfFrameDiv*/
right: 0;
bottom: 0;
overflow: auto;
background: #373943;
}

.fp-header{
	position:relative;
	border-bottom:1px solid #24262d;
	max-height:60px;
	margin-bottom:10px;
}
.fp-header > .navbar
{
    margin:0;
    border: none;
    border-radius: 0;
	min-height:60px;
}
.fp-logo
{
	height:60px;
	display:block;
	overflow:hidden;
	width:100%;
	position:relative;
	background:url("../images/blockchain.png") no-repeat;
    background-position: center center;
    background-size: auto auto;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.fp-logo a {
    display: block;
    height: 60px;
	max-height:60px;
}

.blockimg{
    width: 96%;
    height: 58px;
    padding: 16px;
}

}

.navbar-custom-menu > .navbar-nav > li.custom-menu-item
{
	position: relative;
    padding: 15px 0px;
    margin-right: 15px;
}
.navbar-custom-menu > .menu-left
{
	position:relative;
}
.navbar-custom-menu > .navbar-nav > li.custom-menu-item > a
{
    background: #2a2d35;
    padding: 5px 10px;
    font-size: 12px;
    color: #bcbcbc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	transition:0.3s all ease-in-out;
	-webkit-transition:0.3s all ease-in-out;
	-moz-transition:0.3s all ease-in-out;
	border:1px solid #1e2025;
}
.navbar-custom-menu > .navbar-nav > li.custom-menu-item > a:hover{
	background:#24262d;
	border:1px solid #1e2025;
}
.catetitle-header h3
{
	display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 60px;
    text-transform: uppercase;
    color: #b2b2b2;
    font-weight: bold;
}
.menu-right> .user-detail > .btn-userlogin
{
	height:60px;
}
.menu-right
{
	position:relative;
}
.btn-userlogin
{
	background:transparent;
	border-radius:0;
	color:#b2b2b2;
	font-size:12px;
}
.btn-userlogin:hover, .btn-userlogin:focus
{
	color:#fff;
	outline:0 !important;
	box-shadow:none !important;
}
/* .user-detail h6
{
	text-align:left;
	margin:6px 6px 6px 0px;
} */
.user-detail > .dropdown-menu
{
	position:absolute;
	right:0 !important;
	background-color: #5e616f;
	font-size:12px;
}
.user-detail > .dropdown-menu > li > a
{
	color:#fff;
	cursor:pointer;
}
.user-detail > .dropdown-menu > li > a:hover{
	background-color:transparent;
}
/*------report panel---------*/
.fp-panel
{
	padding-left:10px;
	padding-right:10px;
}

.box, .content-wrapper {
    position: relative;
    border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
    background-color:#2a2d35;
    border: 1px solid #24262d;
    width: 100%;
	margin-bottom:30px;
}
.box-header {
    color: #fff;
    display: block;
    padding: 5px;
    position: relative;
	border-bottom: 1px solid #24262d;
}
.content-header{
    color: #fff;
    display: block;
    padding: 5px;
    position: relative;
	vertical-align:middle;
}
.content-header .content-title{
	font-size:14px;
	font-weight:bold;
	margin:0;
	line-height:30px;
}
.content-image {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.btn-content-add {
    color: #b2b2b2;
    background-color: #24262d;
    border-color: #5e616f;
    border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	outline:none !important;
    padding: 5px 10px;
    font-size: 12px;
}
.btn-content-add:hover{
	color: #b2b2b2;
    background-color: #24262d;
}
.box-title-wrap
{
	display: table;
    height: 40px;
    width: 70%;
    padding: 0;
    overflow: hidden;
}
.box-title-wrap .box-title {

    overflow: hidden;
    line-height: 1.5;
	font-size:13px;
    text-transform: capitalize;
	font-weight:normal;
    color: #fff;
    margin:0;
	padding:0;
    text-align: left;
	display: table-cell;
    vertical-align: middle;

}
.box-header>.box-tools {
    position: absolute;
    right: 5px;
    top: 10px;
}
.btn-box-tool {
    padding: 3px;
    font-size: 16px;
    background: transparent;
    color: #bcbcbc;
}
/* .btn-box-tool:hover, .btn-box-tool:focus
{
	 color:#009add;
	outline:0 !important;
	box-shadow:none !important;
} */
.btn-box-tool:hover
{
	color:#009add;
	outline:0 !important;
	box-shadow:none !important;
}
.btn-box-tool:focus
{
	/*color:#bcbcbc;*/
	outline:0 !important;
	box-shadow:none !important;
}
/* {
	    color: #bcbcbc;
} */
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    /*padding: 10px;*/
}
.box-body > a, .box-body > a:hover
{
	text-decoration:none;
	color:bcbcbc;
}
.box-footer {
    color: #b2b2b2;
    display: block;
	background:#26282f;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position: relative;
	border-top: 1px solid #24262d;
	padding:0;

}

.info-box {
    display: block;
    min-height: 64px;
    width: 100%;
}

.read-box{
    text-align:right;
    margin-top:5px;
    overflow:hidden;
}
.read-box button.btn-more {
    padding: 3px 5px;
    font-size: 10px;
    color: #ddd;
    border-radius: 2px;
    box-shadow: none;
    background: #9d9d9e;
    outline:none !important;
    border:1px solid #8e8e8e;
}
.read-box button.btn-more.more-active
{
    background:#009add;
    border:1px solid #0092d1;
    color:#fff;
}

.info-box-icon {
  /*   border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px; */
    display: block;
    float: left;
    height: 64px;
    /*width: 64px;*/
    text-align: center;
}
.info-box-icon img
{
	width:100%;
	height:auto;
	display:block;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 64px;
	    font-size: 13px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #b2b2b2;
    display: -webkit-box;
	line-clamp: 3;
    -webkit-line-clamp: 3;
	moz-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    overflow: hidden;

}

.fp-panel .box-footer ul li a {
    color: #9d9d9e;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
	border-radius:0;
	-moz-border-radius:0;
	/* transition: background 0.5s ease */
}
.fp-panel .box-footer ul li:first-child
{
	border-right:1px solid #1e2025;
}
.fp-panel .box-footer ul li a:hover, .fp-panel .box-footer ul li a:focus
{
	color:#fff;
	background:	#2a2d35;
	transition:all 0.3s ease
}
/*---------mobile -------------*/
@media (max-width: 767px)
{
	.fp-sidebar
	{
		width:100%;
	}
	.fp-mainbar
	{
		display:none;
	}
}

/*---------tablet -------------*/
@media (min-width: 768px)
{

}

/*---------laptop-------------*/
@media (min-width : 992px)
{

}

.active-fav{color:#009add;}

.loader_img{width:70px; height:70px; margin:20% auto 0 auto;  text-align:center;}
.loader_img img{width:100px; height:70px;}
.side-panel{cursor: pointer;}

.linksdecor a:hover {text-decoration: none;}

.error_login{
    color:#cc0000;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 12.5px;
    background: rgba(0,0,0,0.6);


}
.error_login span a {
 font-size: 13.5px;
 text-decoration: none;

}

/*Animations*/

.container-fluid .ng-enter{transition:0.75s;opacity:0;}
.container-fluid .ng-enter-active{opacity:1;}
.container-fluid .ng-leave{transition:0;opacity:0;}
.container-fluid .ng-leave-active{opacity:0;}


.side-panel.ng-enter{transition:0.75s;opacity:0;}
.side-panel.ng-enter-active{opacity:1;}
.side-panel.ng-leave{transition:0;opacity:0;}
.side-panel.ng-leave-active{opacity:0;}

main.ng-enter{transition:0.75s linear all;opacity:0;}
main.ng-enter-active{opacity:1;}

.form-box{  transition: 1.2s;}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}


/*.fav-leave.ng-leave{transition:0.25s;opacity:1;}
.fav-leave.ng-leave-active{opacity:0;}*/
/*Animations end*/

.wrapper {
    min-width: 600px;
    background: #373943;
}

.form-content{
    padding: 2%;
}

.popuphead p{
    padding: 2% 0 0 2%;
    color: #f0f0f0;
    font-weight: bold;
}

.form-content .text-content{

    overflow:hidden;
    width: 100%;

}

.form-content .text-content input{

    display: block;
    color: #d9d9d9;
    margin: 0 0 2.5% 2.5%;
    padding: 1.5%;
    width: 95%;
    background-color: #2a2d35;
    border:0;

}

.form-content .text-content textarea{

    display: block;
    margin:0 0 1% 2.5%;
    padding: 1.5%;
    color: #d9d9d9;
    width: 95%;
    background-color: #2a2d35;
    border:0;

}



.form-content .text-content p{

    float: right;
    margin:0 2.5% 2.5% 0;
    color: #cccccc;
    font-size: 91%;

}


.form-content .upload {


}
::-webkit-input-placeholder {
   font-style: italic;
}


.form-content .upload .inner-upload1,.inner-upload2{

    margin: 0 3% 3% 3%;
    padding: 1% 0;
    overflow: hidden;
}

.form-content .upload .inner-upload1 label{

    float: left;
    margin: 1% 8% 0 0;
    color: #d9d9d9;
    font-weight: normal;
    font-size: 120%;
    letter-spacing: 0.5px;
    font-style: italic;
}

.form-content .upload .inner-upload2 label{

    float: left;
    margin: 1% 5.4% 0 0;
    color: #d9d9d9;
    font-weight: normal;
    font-size: 120%;
    letter-spacing: 0.5px;
    font-style: italic;


}

.form-content .upload .inner-upload1 .upload-option input,.form-content .upload .inner-upload2 .upload-option input{
display: none;
}

.form-content .upload .inner-upload1 .upload-option,.form-content .upload .inner-upload2 .upload-option{

    float: left;
    width: 25%;
    background-color: #2a2d35;
    border-radius: 5px;
}


.form-content .upload .inner-upload1 .upload-option label,.form-content .upload .inner-upload2 .upload-option label{
    padding: 5% 0 3% 25%;
}

.form-content .upload .inner-upload1 .uploadbtn,.form-content .upload .inner-upload2 .uploadbtn{
    width: 6%;
    padding: 3%;
    float: left;
    margin: 0.5% 0 0 1%;
    border-radius: 3px;
    background: #009ADD url(../images/upload.png) no-repeat center;
}

.form-content .upload .inner-upload1 .uploadbtn:hover,.form-content .upload .inner-upload2 .uploadbtn:hover{

background:#007db3 url(../images/upload.png) no-repeat center;
}
.button{
    text-align:center;
    padding: 2%;
}

.button button{
    width: 15%;
    background: #009add;
    border: none;
    color: #d9d9d9;
    font-size: 115%;
    font-weight: 600;
    border-radius: 2px;
    padding: 0.5%;
}
.button button:hover{

background:#007db3;
}


.fp-menu li a:hover{

    cursor: pointer;

}

.NoData {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 15% auto;
}

.activeList{
    background: #24262d !important;
}



/* Model Popup */

.readmore-popup{
    width: 600px;
}
.fp-modal-content{
     min-width: 600px;
    /*max-width: 50%;*/
    background-color: #373943;
    border-radius: 2px;
    border: 1px solid #24262d;
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0, 0.8);
}
.fp-modal-header
{
    padding: 10px;
    border-bottom: 1px solid #24262d;
}
.fp-modal-header button span{

    font-size: 16px;
    color: #fff;
    text-shadow: none;
}
.fp-modal-header h4.fp-modal-title
{
    font-size:14px;
    color:#fff;
    text-transform:capitalize;
    margin:0;
}
.fp-modal-body{
    padding:10px;
    color:#b2b2b2;
    font-size:12px;

}
.fp-modal-footer{
    padding: 10px;
    text-align: center;
    border-top: 1px solid #24262d;
}
.fp-modal-footer .btn.btn-launch{

    padding: 4px 8px;
    font-size: 12px;
    border-radius: 2px;
    box-shadow: none;
    outline:none !important;
    background:#009add;
    border:1px solid #0092d1;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

}
.fp-modal-footer .btn.btn-launch a{

     color:#fff;
     text-decoration: none;

}
.fp-modal-footer .btn.btn-launch:hover, .read-box button.btn-more.more-active:hover{
    background:#0092d1;
    border:1px solid #0092d1;
}
.fp-modal-box {
    display: block;
    width: 100%;
    min-height: 70px;
}
.modal-box-icon {
  /*   border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px; */
    display: block;
    float: left;
    height: 64px;
    width: 64px;
    text-align: center;
}
.modal-box-icon img
{
    width:100%;
    height:auto;
    display:block;
}
.modal-box-content {
    padding: 5px 10px;
    margin-left: 64px;
        font-size: 13px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #b2b2b2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*--- form ---*/

.fp-form-group
{
	margin-bottom:10px;
}
.fp-form-group > label.control-label
{
	font-size:12px;
	font-weight:normal;
	color:;
}
.fp-form .form-control
{
	background:#2a2d36;
	border:1px solid #272a33;
	font-size:12px;
	border-radius:2px;
    color: #b2b2b2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:none;
	-webkit-transition: .50s ease-in-out;
     transition: .50s ease-in-out;
}
.fp-form .form-control:focus{
	
	border:1px solid #1c1e25;
	box-shadow:inset red;
}
.fp-form .help-block{
	font-size:12px;
	color:#b1b1b3;
	margin-bottom:0;
}
.btn-upload:hover{
	color:#fff;
	background:#0092d1;
}
.btn.btn-upload
{
	padding: 0;
    font-size: 12px;
	height:34px;
	float:right;
    border-radius: 2px;
    box-shadow: none;
    outline:none !important;
    background:#009add;
    border:1px solid #0092d1;
	color:#fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.btn.btn-save{

    padding: 6px 12px;
    font-size: 12px;
	height:34px;
    border-radius: 2px;
    box-shadow: none;
    outline:none !important;
    background:#009add;
    border:1px solid #0092d1;
	color:#fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

}
.fp-file-upload
{
	width: 80%;
    float: left;
    padding: 6px 10px;
	background: #2a2d36;
    border: 1px solid #272a33;
	height:34px;
    font-size: 12px;
    border-radius: 2px;
    color: #b2b2b2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;

}
.fp-file-upload > input[type="file"]{
	outline:none;
	width:100%;
}
.fp-button-upload
{
	width:20%;
	float:left;
}
.file-choose input{
	width:100%;
	outline:none;
}
.no-padding{
	padding:0 !important;
	margin:0 !important;
}
.support-Content{

    color: #fff;
}

.modal-box-content-edit {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #b2b2b2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
} 

.modal-box-content-edit .edit-inner{
    width: 100%;
    /*border:1px solid red;*/
    margin: 15px;
}

.modal-box-content-edit .edit-inner label{
    display: block;
    float: left;

}


.modal-box-content-edit .edit-inner textarea{
   height: auto;
}


.modal-box-content-edit .edit-inner input:focus,textarea:focus{

 border-bottom: 2px solid #009ADD;
 background-color: #24262d;

}

.mainpge{height:100%;}

img.menu-icon.mCS_img_loaded {
    width: 30px;
}

.edit-inner p{

    float:right;
}

/* Table */
.table
{
    margin-bottom:0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #242730;
    border-bottom:0;

}
.table>thead>tr>td>span.green, .table>tbody>tr>td>span.green, .table>tfoot>tr>td>span.green
{
    color:green;
}
.table>thead>tr>td>span.orange, .table>tbody>tr>td>span.orange, .table>tfoot>tr>td.orange
{
    color:orange;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th  {
    color:#fff;
    font-weight:normal;
    font-size:13px;
    background:#25252d;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td 
{
    color:#9d9ea3;
    font-size:13px;
    font-weight:normal;
    padding: 0px 8px;
    vertical-align:middle;
}
.btn.btn-desc
{
    font-size:16px;
    color:#009add;
    text-decoration:none;
    box-shadow: none;
    outline:none !important;
    padding: 3px 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.btn.btn-reqacc
{
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: none;
    outline:none !important;
    background:#009add;
    border:1px solid #0092d1;
    color:#fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: #009ADD;
    color: rgb(250,250,250);

}
.registernavi{

    color:blue;
    text-decoration: underline;
}

.profileholder label{
        display: block;
    float: left;
    width: 20%;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px
}

.profileholder input{
    width: 50%;
    background: #2a2d36;
    border: 0;
    padding:5px;
    color: #fff;
}


.changpwd div label{
    color: white
}

.dropdown-menu li{

        padding: 3px;
    border-bottom: 1px solid;
}

.ticketsdrowpdown{

    display: block;
    background: #24262d;
    border-color: #5e616f;
    outline: none !important;
    padding: 5px 10px;
    font-size: 12px;
    width:  100%;
    height: 43px;
}



 .iconstyle{
       font-size: 20px;
    padding: 5px;
    color: #009ADD;
 }
 .list-text{
    font-size: 20px;
 }

 .eventDesc{
    color: #fff;
    padding-left: 30%;
 }

.values{
        float: right;
    margin-right: 55%;
}

.eventDetails{
    color: #fff;
    padding-left: 15%;
}
.valuesDetails{
        float: right;
    margin-right: 5%;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}
@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
