<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
    <div class="readmore-popup">
      <!-- Modal content-->
      <div class="modal-content fp-modal-content">
        <div class="modal-header fp-modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span class="fp-icon icon-fp-icon-cancel"></span></button>
          <h4 class="modal-title fp-modal-title">Edit</h4>
        </div>
        <div class="modal-body fp-modal-body">
  <div class="fp-modal-box" >
  <!-- .info-box-content -->
  <div class="modal-box-content-edit">
  
  <md-input-container>
  <label>Report Name:</label>
  <input type='text' name='reportTitle' value={{editname}}>
  </md-input-container>

  <md-input-container>
  <label>Report Url :</label>
  <input type='text' name='reportUrl' value={{editurl}}>
  </md-input-container>


  <md-input-container>
  <label>Report Description :</label>
  <textarea>{{editdesc}}</textarea>
  </md-input-container>


 <md-input-container>
  <label>Image Icon :</label>
  <input type="file">
  </md-input-container>


  <md-input-container>
  <label>Report Document Url :</label>
  <input type='text' name='reportDocUrl' value={{editdocurl}}>
  </md-input-container>


  <md-input-container>
  <label>Report Video Url :</label>
 <input type='text' name='reportVideoUrl' value={{editvideourl}}>
  </md-input-container>

  </div>
  <!-- /.info-box-content -->
  </div>
        </div>
        <div class="modal-footer fp-modal-footer">
          <button type="button" class="btn btn-launch" data-dismiss="modal"><a href={{url_readmore}} target="_blank">Save</a></button>
        </div>
      </div>
      
   </div>
  <!--</div> -->